$primaryColor: #02475b;
$secondaryColor: #fc9916;
$tertiaryColor: #07ae8b;
$errorColor: #890000;
$black: #000000;
$white: #ffffff;
$aquaBlue: #0087ba;
$darkGrey: #080808;
$lightGrey: #f7f8f5;
$grey: #808080;
$darkRed: #890000;
$smaltBlue: #4e808d;
$red: #f75b5b;
$green: #4caf50;
$raisinBlack: #212223;

//  Font Variables
$font: "ibm_plex_sansregular"; // 400
$fontMedium: "ibm_plex_sansmedium"; // 500
$fontSemiBold: "ibm_plex_sanssemibold"; // 600
$fontBold: "ibm_plex_sansbold"; // 700

// Media Variable
$md: 1024px;
$sm: 768px;
$xs: 600px;
