@import '../../../styles/style.module.scss';

.tooltipContainer {
  position: relative;
  .tooltip {
    padding: 10px;
    font-size: 14px;
    font-family: $fontMedium;
    cursor: pointer;
    &:hover {
      display: block;
      & + .tooltipContent {
        display: block;
      }
    }
  }
  .tooltipContent {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    display: none;
    min-width: 120px;
    max-width: 300px;
    padding: 16px;
    @include border-radius(10px);
    border: 1px solid $primaryColor;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      top: -19px;
      left: 20px;
      border: 10px solid transparent;
      border-bottom-color: $white;
      z-index: 1;
    }
    &::after {
      content: '';
      position: absolute;
      top: -20px;
      left: 20px;
      border: 10px solid transparent;
      border-bottom-color: $primaryColor;
      z-index: 0;
    }
  }
  &.top {
    .tooltipContent {
      bottom: 50px;
      top: auto;
      &::before {
        bottom: -19px;
        top: auto;
        border: 10px solid transparent;
        border-top-color: $white;
      }
      &::after {
        bottom: -20px;
        top: auto;
        border: 10px solid transparent;
        border-top-color: $primaryColor;
      }
    }
  }
  &.bottom {
    .tooltipContent {
      top: 50px;
      bottom: auto;
      &::before {
        top: -19px;
        bottom: auto;
        border: 10px solid transparent;
        border-bottom-color: $white;
      }
      &::after {
        top: -20px;
        bottom: auto;
        border: 10px solid transparent;
        border-bottom-color: $primaryColor;
      }
    }
  }
  &.left {
    .tooltipContent {
      top: -10px;
      right: 100%;
      left: auto;
      margin: 0 20px 0 0;
      &::before {
        top: 20px;
        right: -19px;
        left: auto;
        border: 10px solid transparent;
        border-left-color: $white;
      }
      &::after {
        top: 20px;
        right: -20px;
        left: auto;
        border: 10px solid transparent;
        border-left-color: $primaryColor;
      }
    }
  }
  &.right {
    .tooltipContent {
      top: -10px;
      left: 100%;
      right: auto;
      margin: 0 0 0 20px;
      &::before {
        top: 20px;
        left: -19px;
        right: auto;
        border: 10px solid transparent;
        border-right-color: $white;
      }
      &::after {
        top: 20px;
        left: -20px;
        right: auto;
        border: 10px solid transparent;
        border-right-color: $primaryColor;
      }
    }
  }
}
